@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');
.title {
  display: flex;
  font-family: 'Cabin', sans-serif;
  margin-top: 2rem;
  margin-left: 1.5rem;
  margin-bottom: -3rem;
  width: 100%;
}
.ourstory {
  display: flex;
  margin-left: 1rem;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  color: rgba(5, 95, 158, 1);
}
.ourstory1 {
  margin: 1rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}
.colorme {
  color: rgba(5, 95, 158, 1);
}
.ourTeam1 {
  margin-left: 1.5rem;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  color: rgba(5, 95, 158, 1);
}
.webDev {
  display: flex;
  font-size: 8px;
  justify-content: space-evenly;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
.uxui1 {
  display: flex;
  font-size: 8px;
  justify-content: space-evenly;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
.uxui2 {
  display: flex;
  font-size: 8px;
  justify-content: space-evenly;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-bottom: 2rem;
}
.William {
  height: 7rem;
  min-width: 7rem;
  max-width: 7rem;
  border-radius: 50%;
  background-image: url('../images/will.png');
  background-position: center;
  background-size: 100%;
}
.kaylee {
  height: 7rem;
  min-width: 7rem;
  max-width: 7rem;
  border-radius: 50%;
  background-image: url('../images/kaylee.png');
  background-position: center;
  background-size: 100%;
}
.phil {
  height: 7rem;
  min-width: 7rem;
  max-width: 7rem;
  border-radius: 50%;
  background-image: url('../images/phil.png');
  background-position: center;
  background-size: 100%;
}
.Jorge {
  height: 7rem;
  min-width: 7rem;
  max-width: 7rem;
  border-radius: 50%;
  background-image: url('../images/jorge.png');
  background-position: center;
  background-size: 100%;
}
.Gyovany {
  height: 7rem;
  min-width: 7rem;
  max-width: 7rem;
  border-radius: 50%;
  background-image: url('../images/Gyovany.png');
  background-position: center;
  background-size: 100%;
}
.Maria {
  height: 7rem;
  min-width: 7rem;
  max-width: 7rem;
  border-radius: 50%;
  background-image: url('../images/maria.png');
  background-position: center;
  background-size: 100%;
}
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) {
  .title {
    margin-top: -0.75rem;
    height: 6rem;
  }
  span {
    font-size: 2.5rem;
  }
  .story {
    margin: 0.5rem;
  }
  .ourstory {
    font-size: 1.5rem;
  }
}
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: portrait) {
  .title {
    margin-top: -0.75rem;
    height: 6rem;
  }
  span {
    font-size: 2.75rem;
  }
  .story {
    margin: 0.25rem;
    margin-bottom: 5.25rem;
  }
  .ourstory {
    font-size: 1.5rem;
  }
}

@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation: portrait) {
  .title {
    margin-top: -0.75rem;
    height: 6rem;
  }
  span {
    font-size: 2.75rem;
  }
  .story {
    margin: 1.5rem;
    margin-bottom: 3rem;
  }
  p {
    font-size: 20.5px;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation: portrait) {
  .title {
    margin-top: -0.75rem;
    height: 6rem;
  }
  span {
    font-size: 2.75rem;
  }
  .story {
    margin: 0.25rem;
    margin-bottom: 3rem;
  }
  p {
    font-size: 18.52px;
  }
}
@media only screen and (min-device-width: 390px) and (max-device-height: 844px) and (orientation: portrait) {
  .title {
    margin-top: -0.75rem;
    height: 6rem;
  }
  span {
    font-size: 2.75rem;
  }
  .story {
    margin: 1rem;
    margin-bottom: 3rem;
  }
  p {
    font-size: 19px;
  }
}
@media only screen and (min-device-width: 428px) and (max-device-height: 926px) and (orientation: portrait) {
  .title {
    margin-top: -0.75rem;
    height: 7rem;
  }
  span {
    font-size: 3rem;
  }
  .story {
    margin: 1.5rem;
    margin-bottom: 3rem;
  }
  p {
    font-size: 21px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) {
  .title {
    margin-top: -0.75rem;
    height: 6rem;
  }
  span {
    font-size: 2.5rem;
  }
  .story {
    margin: 0.5rem;
    margin-bottom: 1rem;
  }
  p {
    font-size: 18px;
  }
}
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) {
  .title {
    margin-top: -0.75rem;
    height: 6rem;
  }
  span {
    font-size: 2.5rem;
  }
  .story {
    margin: 0.5rem;
    margin-bottom: 1rem;
  }
  p {
    font-size: 18px;
  }
}
@media only screen and (min-device-width: 412px) and (max-device-height: 767px) and (orientation: portrait) {
  .title {
    margin-top: -0.75rem;
    height: 6rem;
  }
  span {
    font-size: 2.5rem;
  }
  .story {
    margin: 0.5rem;
    margin-bottom: 1.5rem;
  }
  p {
    font-size: 19px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-height: 1024px) and (orientation: portrait) {
  .title {
    margin-top: -0.75rem;
    height: 6rem;
  }
  span {
    font-size: 3rem;
  }
  .story {
    margin: 5rem;
  }
  p {
    font-size: 20px;
    margin: 2.95rem;
  }
}
@media only screen and (min-width: 1224px) {
  .title {
    margin-top: -0.75rem;
    height: 10rem;
  }
  span {
    font-size: 3.75rem;
  }
  .story {
    margin-top: 4.5rem;
    margin-left: 32.75rem;
    margin-right: 32.75rem;
    margin-bottom: 4.5rem;
  }
  p {
    font-size: 22px;
    margin: 1.86rem;
  }
}
@media only screen and (min-width: 1824px) {
  .title {
    margin-top: -0.75rem;
    height: 10rem;
  }
  span {
    font-size: 3.75rem;
  }
  .story {
    margin-top: 4.5rem;
    margin-left: 32.75rem;
    margin-right: 32.75rem;
    margin-bottom: 4.5rem;
  }
  p {
    font-size: 22px;
    margin: 1.86rem;
  }
}
