@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

.card-footer {
  display: flex;
  justify-content: baseline;
}
.inputBox {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  align-items: center;
  margin-bottom: 2rem;
}
.messages {
  height: 20rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  border: 2px solid rgba(141, 146, 64, 0.75);
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  overflow-y: auto;
}
.sendButton {
  border: none;
  position: absolute;
  background-color: lightblue;
  right: 4.25rem;
  top: 25.7rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.messageInput {
  border: 1px solid rgba(141, 146, 64, 0.75);
  height: 35px;
  width: 200px;
  border-radius: 15px;
  box-shadow: inset -3px -1px 4px rgba(255, 255, 255, 0.5),
    inset 2px 2px 4px rgba(170, 170, 204, 0.25);
  margin-bottom: 15px;
  margin-top: 15px;
  background-color: lightblue;
}
.messagePic {
  height: 2.5rem;
  width: 2.5rem;
}
.messageOutput {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: inherit;
  margin-left: 0.75rem;
}
.theoutput {
  background-color: lightblue;
  padding: 0.5rem;
  margin-left: 5px;
  border-radius: 15px;
  font-size: 13px;
  font-family: 'Cabin', sans-serif;
}
