@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap&family=Montserrat:wght@300;400&display=swap&family=Cabin&display=swap');

.messages {
  height: 20rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 0.5rem;
  border: 2px solid rgba(141, 146, 64, 0.75);
  transform: rotate(180);
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
}
.messagePic {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
}
.messageMine {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
  width: inherit;
  margin-right: 0.5rem;
}
.messageText {
  display: flex;
  flex-direction: column;
  width: inherit;
  padding: 0.5rem;
  margin-left: 5px;
  border-radius: 15px;
  font-size: 13px;
  font-family: 'Cabin', sans-serif;
}
.messageMine .messageText {
  background-color: lightblue;
}
.messageTheirs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: inherit;
  margin-left: 0.5rem;
}

.messageTheirs .messageText {
  background-color: rgba(141, 146, 64, 0.75);
}
.sendButton {
  border: none;
  border-radius: 8px;
  color: #ffac4f;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  height: 35px;
  background-color: white;
}
.inputBox {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}
.form-control {
  border: 1px solid rgba(141, 146, 64, 0.75);
  height: 35px;
  width: 200px;
  border-radius: 8px;
  box-shadow: inset -3px -1px 4px rgba(255, 255, 255, 0.5),
    inset 2px 2px 4px rgba(170, 170, 204, 0.25);
  background-color: lightblue;
  display: flex;
  justify-content: center;
}

/* iPhone 6 7 8 (portrait) ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) {
  .messages {
    height: 30rem;
  }
}

/* iPhone 6 7 8+ (portrait) ----------- */
@media only screen and (device-width: 414px) and (max-device-height: 736px) and (orientation: portrait) {
  .messages {
    height: 30rem;
  }
}

/* iPhone 11 (portrait) ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation: portrait) {
  .messages {
    height: 30rem;
  }
}

/* iPhone pro 11 (portrait) ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation: portrait) {
  .messages {
    height: 30rem;
  }
}
/* iPhone 11 pro max (portrait) ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation: portrait) {
  .messages {
    height: 30rem;
  }
}

/* iPhone 12 (portrait) ----------- */
@media only screen and (min-device-width: 390px) and (max-device-height: 844px) and (orientation: portrait) {
  .messages {
    height: 30rem;
  }
}
/* iPhone 12 pro max (portrait) ----------- */
@media only screen and (min-device-width: 428px) and (max-device-height: 926px) and (orientation: portrait) {
  .messages {
    height: 30rem;
  }
}
/* iPhone 12 mini (portrait) ----------- */
@media only screen and (device-width: 375px) and (device-height: 812px) and (orientation: portrait) {
  .messages {
    height: 30rem;
  }
}
/* Samsung Galaxy S5 (portrait) ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) {
  .messages {
    height: 30rem;
  }
}

/* Samsung Galaxy note 20 ------------*/
@media only screen and (min-device-width: 412px) and (max-device-width: 767px) and (orientation: portrait) {
  .messages {
    height: 30rem;
  }
}
