@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap&family=Montserrat:wght@300;400&display=swap&family=Cabin&display=swap');

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) {
  span {
    font-size: 15px;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) {
  span {
    font-size: 15px;
  }
}

@media only screen and (device-width: 414px) and (max-device-height: 736px) and (orientation: portrait) {
  span {
    font-size: 18px;
  }
}

@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation: portrait) {
  span {
    font-size: 18px;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation: portrait) {
  span {
    font-size: 18px;
  }
}

@media only screen and (min-device-width: 390px) and (max-device-height: 844px) and (orientation: portrait) {
  span {
    font-size: 18px;
  }
}

@media only screen and (min-device-width: 428px) and (max-device-height: 926px) and (orientation: portrait) {
  span {
    font-size: 18px;
  }
}

@media only screen and (device-width: 375px) and (device-height: 812px) and (orientation: portrait) {
  span {
    font-size: 18px;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) {
  span {
    font-size: 18px;
  }
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) {
  span {
    font-size: 18px;
  }
}

@media only screen and (min-device-width: 412px) and (max-device-width: 767px) and (orientation: portrait) {
  span {
    font-size: 18px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  span {
    font-size: 40px;
  }
}

@media only screen and (min-width: 1224px) {
  span {
    font-size: 40px;
  }
}

@media only screen and (min-width: 1824px) {
  span {
    font-size: 40px;
  }
}

* {
  font-family: 'Cabin', sans-serif;
}
