@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

.footer {
  height: 7rem;
  width: 100%;
  background-color: rgba(141, 146, 64, 0.75);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  font-size: 12px;
  font-family: 'Cabin', sans-serif;
  line-height: 20px;
}

.nav {
  display: flex;
  flex-direction: column;
  margin-left: -35px;
}
.icon-bar {
  margin-right: -55px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
}
.social {
  display: flex;
  flex-direction: row;
}
.follow {
  margin-bottom: 5px;
  margin-right: 20px;
  font-size: 12px;
}

.icon-bar a {
  display: block;
  justify-content: center;
  text-align: center;
  margin: 5px;
  margin-top: 2px;
  color: rgba(141, 146, 64, 0.75);
  font-size: 17px;
  border: rgba(141, 146, 64, 0.75);
}

.facebook {
  color: white;
  background-color: black;
  height: 17px;
  width: 19px;
  border-radius: 20%;
  position: relative;
  right: 15%;
  padding-top: 2px;
  padding-bottom: -1px;
}

.twitter {
  color: white;
  background-color: black;
  height: 19px;
  width: 19px;
  border-radius: 20%;
  position: relative;
  right: 15%;
}

.instagram {
  color: white;
  background-color: black;
  height: 19px;
  width: 19px;
  border-radius: 20%;
  position: relative;
  right: 15%;
}
/* iPhone 6 7 8 (portrait) ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) {
  .footer {
    height: 8rem;
  }

  .follow {
    font-size: 14px;
  }

  .icon-bar a {
    margin: 5px;
    margin-top: 2px;
    font-size: 17px;
  }
}

/* iPhone 6 7 8+ (portrait) ----------- */
@media only screen and (device-width: 414px) and (max-device-height: 736px) and (orientation: portrait) {
  .footer {
    height: 8rem;
    font-size: 16px;
  }

  .follow {
    font-size: 16px;
  }

  .icon-bar a {
    margin: 5px;
    margin-top: 2px;
    font-size: 17px;
  }
}

/* iPhone 11 (portrait) ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation: portrait) {
  .footer {
    height: 8rem;
    font-size: 16px;
  }

  .follow {
    font-size: 16px;
  }

  .icon-bar a {
    margin: 5px;
    margin-top: 2px;
    font-size: 17px;
  }
}

/* iPhone pro 11 (portrait) ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation: portrait) {
  .footer {
    height: 8rem;
    font-size: 16px;
  }

  .follow {
    font-size: 16px;
  }

  .icon-bar a {
    margin: 5px;
    margin-top: 2px;
    font-size: 17px;
  }
}
/* iPhone 11 pro max (portrait) ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation: portrait) {
  .footer {
    height: 8rem;
    font-size: 16px;
  }

  .follow {
    font-size: 16px;
  }

  .icon-bar a {
    margin: 5px;
    margin-top: 2px;
    font-size: 17px;
  }
}

/* iPhone 12 (portrait) ----------- */
@media only screen and (min-device-width: 390px) and (max-device-height: 844px) and (orientation: portrait) {
  .footer {
    height: 8rem;
    font-size: 16px;
  }

  .follow {
    font-size: 16px;
  }

  .icon-bar a {
    margin: 5px;
    margin-top: 2px;
    font-size: 17px;
  }
}
/* iPhone 12 pro max (portrait) ----------- */
@media only screen and (min-device-width: 428px) and (max-device-height: 926px) and (orientation: portrait) {
  .footer {
    height: 8rem;
    font-size: 16px;
  }

  .follow {
    font-size: 16px;
  }

  .icon-bar a {
    margin: 5px;
    margin-top: 2px;
    font-size: 17px;
  }
}
/* iPhone 12 mini (portrait) ----------- */
@media only screen and (device-width: 375px) and (device-height: 812px) and (orientation: portrait) {
  .footer {
    height: 8rem;
    font-size: 16px;
  }

  .follow {
    font-size: 16px;
  }

  .icon-bar a {
    margin: 5px;
    margin-top: 2px;
    font-size: 17px;
  }
}

/* Samsung Galaxy S5 (portrait) ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) {
  .footer {
    height: 8rem;
    font-size: 16px;
  }

  .follow {
    font-size: 16px;
  }

  .icon-bar a {
    margin: 5px;
    margin-top: 2px;
    font-size: 17px;
  }
}

/* Samsung Galaxy note 20 ------------*/
@media only screen and (min-device-width: 412px) and (max-device-width: 767px) and (orientation: portrait) {
  .footer {
    height: 8rem;
    font-size: 18px;
  }

  .follow {
    font-size: 16px;
  }

  .icon-bar {
    margin-right: -45px;
  }
  .icon-bar a {
    margin: 5px;
    margin-top: 2px;
    font-size: 17px;
  }
}
/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .footer {
    height: 12rem;
    font-size: 20px;
  }

  .nav {
    margin-left: -150px;
  }
  .icon-bar {
    margin-right: -125px;
  }
  .follow {
    margin-bottom: 10px;
    font-size: 20px;
  }

  .icon-bar a {
    margin: 5px;
    margin-top: 2px;
    color: white;
    font-size: 30px;
    border: white;
  }

  .facebook {
    height: 30px;
    width: 32px;
    right: -30%;
  }

  .twitter {
    height: 32px;
    width: 32px;
  }

  .instagram {
    height: 32px;
    width: 32px;
  }
}
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  .footer {
    height: 12rem;
    font-size: 20px;
  }

  .nav {
    margin-left: -650px;
  }
  .icon-bar {
    margin-right: -650px;
  }
  .follow {
    margin-bottom: 10px;
    font-size: 20px;
  }

  .icon-bar a {
    margin: 5px;
    margin-top: 2px;
    font-size: 30px;
  }

  .facebook {
    height: 30px;
    width: 32px;
    right: -30%;
  }

  .twitter {
    height: 32px;
    width: 32px;
  }

  .instagram {
    height: 32px;
    width: 32px;
  }
}
/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  .footer {
    height: 12rem;
    font-size: 20px;
  }

  .nav {
    margin-left: -750px;
  }
  .icon-bar {
    margin-right: -750px;
  }
  .follow {
    margin-bottom: 10px;
    font-size: 20px;
  }

  .icon-bar a {
    margin: 5px;
    margin-top: 2px;
    font-size: 30px;
  }

  .facebook {
    height: 30px;
    width: 32px;
    right: -30%;
  }

  .twitter {
    height: 32px;
    width: 32px;
  }

  .instagram {
    height: 32px;
    width: 32px;
  }
}
