@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap&family=Montserrat:wght@300;400&display=swap&family=Cabin&display=swap');

.Join {
  height: 15rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: -1rem;
  background-image: url('../images/outposthmpg_edited.jpg');
  background-size: 175%;
}

.about {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  margin-bottom: 0.65rem;
  margin-top: 3rem;
  font-size: 22px;
  font-weight: 500;
  font-family: 'Cabin', sans-serif;
  color: white;
}
.joinButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 155px;
  margin-top: 2.5rem;
  background-color: #ffac4f;
  border-radius: 10px;
  font-family: 'Cabin', sans-serif;
  color: white;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 2px;
  border: none;
  text-decoration: none;
}
.HowItWorks {
  height: 7rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  line-height: 2.5rem;
}
.HowTitle {
  font-size: 20px;
  font-family: 'Cabin', sans-serif;
  color: #ffac4f;
}
.works {
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
}
.iconbar {
  height: 5rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  font-family: 'Cabin', sans-serif;
}
.search {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  font-weight: 600;
}
.connect {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
}
.gameOn {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
}
.explore {
  height: 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.exploreButton {
  background-color: white;
  height: 40px;
  width: 170px;
  border: 1px solid #ffac4f;
  border-radius: 10px;
  font-family: 'Cabin', sans-serif;
  font-size: 18px;
  font-weight: 600;
}
.howvideo {
  height: 9rem;
  display: flex;
  flex-direction: column;
  margin-top: -1rem;
}
.howvideotitle {
  font-size: 18px;
  font-weight: 600;
  color: rgba(5, 95, 158, 1);
  margin-left: 1.5rem;
  font-family: 'Cabin', sans-serif;
}
.video {
  height: 15rem;
  width: 90%;
  display: flex;
  justify-content: center;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 3rem;
}
.upcomingEvents {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1.5rem;
  font-family: 'Cabin', sans-serif;
}
.eventTitle {
  font-size: 23px;
  font-weight: 600;
  color: rgba(5, 95, 158, 1);
}
.viewAll {
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
}
.events {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  padding-left: 10px;
}
.events #item {
  height: 120px;
  min-width: 90px;
  max-width: 90px;
  margin: 3px;
  font-size: 10px;
  background-size: cover;
}
.event1 {
  background-image: url(../images/AC.jpeg);
}
.event2 {
  background-image: url(../images/zelda.jpeg);
}
.event3 {
  background-image: url(../images/minecraft.jpeg);
}
.event4 {
  background-image: url(../images/COD.jpeg);
}
.event5 {
  background-image: url(../images/GTA.jpeg);
}
.event6 {
  background-image: url(../images/Mario.jpeg);
}
.event7 {
  background-image: url(../images/amongus.jpeg);
}
.event8 {
  background-image: url(../images/pokemon.jpeg);
}
.event9 {
  background-image: url(../images/RDR.jpeg);
}
.event10 {
  background-image: url(../images/fortnite.jpeg);
}
.currentlyOnline {
  margin-left: 1rem;
  font-family: 'Cabin', sans-serif;
}
.currentTitle {
  font-size: 23px;
  font-weight: 600;
  color: rgba(5, 95, 158, 1);
}
.friends {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  margin-top: 0.75rem;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.friends #friend {
  display: flex;
  flex-direction: column;
  height: 70px;
  min-width: 70px;
  max-width: 70px;
  margin: 5px;
  font-size: 10px;
  background-size: cover;
  border-radius: 50%;
}
.friendName {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.friend1 {
  background-image: url(../images/kaylee.png);
}
.friend2 {
  background-image: url(../images/will.png);
}
.friend3 {
  background-image: url(../images/jorge.png);
}
.perks {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1.5rem;
  font-family: 'Cabin', sans-serif;
}
.perksTitle {
  font-size: 23px;
  font-weight: 600;
  color: rgba(5, 95, 158, 1);
}
.thePerks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
.thePerks .perk {
  display: flex;
  height: 120px;
  min-width: 140px;
  max-width: 140px;
  margin: 5px;
  font-size: 19px;
  font-weight: 500;
  background-image: url('../images/outposthmpg_edited.jpg');
  background-size: 300%;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Cabin', sans-serif;
}
.instaWins {
  display: flex;
  font-family: 'Cabin', sans-serif;
}
.instaTitle {
  font-size: 23px;
  font-weight: 600;
  color: rgba(5, 95, 158, 1);
  margin-left: 1.5rem;
}
.theWins {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  align-items: center;
  overflow-x: scroll;
}
.theWins .instaWin {
  height: 100px;
  min-width: 100px;
  max-width: 100px;
  margin: 3px;
  background-image: url('../images/Gamer.png');
  background-size: cover;
}
.theWins .insta1 {
  height: 100px;
  min-width: 100px;
  max-width: 100px;
  margin: 3px;
  background-image: url('../images/maxresdefault.png');
  background-size: cover;
}
.theWins .insta2 {
  height: 100px;
  min-width: 100px;
  max-width: 100px;
  margin: 3px;
  background-image: url('../images/Content.png');
  background-size: cover;
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) {
  .friends #friend {
    height: 80px;
    min-width: 80px;
    max-width: 80px;
  }
  .thePerks .perk {
    height: 140px;
    min-width: 170px;
    max-width: 170px;
    font-size: 18px;
  }
  .theWins .instaWin {
    height: 125px;
    min-width: 125px;
    max-width: 125px;
  }
  .theWins .insta1 {
    height: 125px;
    min-width: 125px;
    max-width: 125px;
  }
  .theWins .insta2 {
    height: 125px;
    min-width: 125px;
    max-width: 125px;
  }
}

@media only screen and (device-width: 414px) and (max-device-height: 736px) and (orientation: portrait) {
  .video {
    height: 20rem;
    margin-left: 3rem;
    margin-right: 3rem;
  }
  .upcomingEvents {
    margin-bottom: 1rem;
  }
  .events .item {
    height: 180px;
    min-width: 140px;
    max-width: 140px;
    margin: 5px;
  }
  .friends #friend {
    height: 100px;
    min-width: 100px;
    max-width: 100px;
  }
  .thePerks .perk {
    height: 150px;
    min-width: 190px;
    max-width: 190px;
    font-size: 18px;
  }
  .theWins .instaWin {
    height: 135px;
    min-width: 135px;
    max-width: 135px;
  }
  .theWins .insta1 {
    height: 135px;
    min-width: 135px;
    max-width: 135px;
  }
  .theWins .insta2 {
    height: 135px;
    min-width: 135px;
    max-width: 135px;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation: portrait) {
  .about {
    font-size: 22px;
  }
  .joinButton {
    height: 2rem;
    width: 7rem;
  }
  .HowItWorks {
    height: 9rem;
    line-height: 2.25rem;
  }
  .HowTitle {
    font-size: 22px;
  }
  .works {
    font-size: 17px;
  }
  .iconbar {
    height: 6rem;
  }
  .search {
    font-size: 17px;
  }
  .connect {
    font-size: 17px;
  }
  .gameOn {
    font-size: 17px;
  }
  .explore {
    height: 3.5rem;
    margin-bottom: 2rem;
  }
  .exploreButton {
    height: 2.25rem;
    width: 9rem;
  }
  .howvideo {
    height: 11rem;
  }
  .howvideotitle {
    font-size: 18px;
    line-height: 3.5rem;
  }
  .video {
    height: 10rem;
    margin-left: 3rem;
    margin-right: 3rem;
  }
  .upcomingEvents {
    margin-bottom: 1rem;
  }
  .eventTitle {
    font-size: 22px;
  }
  .viewAll {
    font-size: 17px;
  }
  .events {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .events .item {
    height: 180px;
    min-width: 140px;
    max-width: 140px;
    margin: 5px;
  }
  .friends #friend {
    height: 80px;
    min-width: 80px;
    max-width: 80px;
  }
  .thePerks .perk {
    height: 140px;
    min-width: 170px;
    max-width: 170px;
    font-size: 18px;
  }
  .theWins .instaWin {
    height: 135px;
    min-width: 135px;
    max-width: 135px;
  }
  .theWins .insta1 {
    height: 135px;
    min-width: 135px;
    max-width: 135px;
  }
  .theWins .insta2 {
    height: 135px;
    min-width: 135px;
    max-width: 135px;
  }
}

@media only screen and (min-device-width: 390px) and (max-device-height: 844px) and (orientation: portrait) {
  .video {
    height: 18rem;
    margin-left: 3rem;
    margin-right: 3rem;
  }
  .viewAll {
    font-size: 17px;
  }
  .events .item {
    height: 180px;
    min-width: 140px;
    max-width: 140px;
    margin: 5px;
  }
  .friends #friend {
    height: 80px;
    min-width: 80px;
    max-width: 80px;
  }
  .thePerks .perk {
    height: 145px;
    min-width: 180px;
    max-width: 180px;
    font-size: 18px;
  }
  .theWins .instaWin {
    height: 125px;
    min-width: 125px;
    max-width: 125px;
  }
  .theWins .insta1 {
    height: 125px;
    min-width: 125px;
    max-width: 125px;
  }
  .theWins .insta2 {
    height: 125px;
    min-width: 125px;
    max-width: 125px;
  }
}

@media only screen and (min-device-width: 428px) and (max-device-height: 926px) and (orientation: portrait) {
  .video {
    height: 20rem;
    margin-left: 3rem;
    margin-right: 3rem;
  }
  .viewAll {
    font-size: 17px;
  }
  .events .item {
    height: 180px;
    min-width: 140px;
    max-width: 140px;
    margin: 5px;
  }
  .friends #friend {
    height: 100px;
    min-width: 100px;
    max-width: 100px;
  }
  .thePerks .perk {
    height: 140px;
    min-width: 185px;
    max-width: 185px;
    font-size: 18px;
  }
  .theWins .instaWin {
    height: 140px;
    min-width: 140px;
    max-width: 140px;
  }
  .theWins .insta1 {
    height: 140px;
    min-width: 140px;
    max-width: 140px;
  }
  .theWins .insta2 {
    height: 140px;
    min-width: 140px;
    max-width: 140px;
  }
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) {
  .events .item {
    height: 180px;
    min-width: 140px;
    max-width: 140px;
    margin: 5px;
  }
  .friends #friend {
    height: 100px;
    min-width: 100px;
    max-width: 100px;
  }
  .thePerks .perk {
    height: 130px;
    min-width: 155px;
    max-width: 155px;
    font-size: 18px;
  }
  .theWins .instaWin {
    height: 115px;
    min-width: 115px;
    max-width: 115px;
  }
  .theWins .insta1 {
    height: 115px;
    min-width: 115px;
    max-width: 115px;
  }
  .theWins .insta2 {
    height: 115px;
    min-width: 115px;
    max-width: 115px;
  }
}

@media only screen and (min-device-width: 412px) and (max-device-width: 767px) and (orientation: portrait) {
  .howvideotitle {
    font-size: 18px;
    line-height: 3.5rem;
  }
  .video {
    height: 20rem;
    margin-left: 3rem;
    margin-right: 3rem;
  }
  .viewAll {
    font-size: 17px;
  }
  .events .item {
    height: 180px;
    min-width: 140px;
    max-width: 140px;
    margin: 5px;
  }
  .friends #friend {
    height: 90px;
    min-width: 90px;
    max-width: 90px;
  }
  .thePerks .perk {
    height: 150px;
    min-width: 190px;
    max-width: 190px;
    font-size: 18px;
  }
  .theWins .instaWin {
    height: 135px;
    min-width: 135px;
    max-width: 135px;
  }
  .theWins .insta1 {
    height: 135px;
    min-width: 135px;
    max-width: 135px;
  }
  .theWins .insta2 {
    height: 135px;
    min-width: 135px;
    max-width: 135px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .Join {
    height: 15rem;
  }
  .about {
    font-size: 26px;
  }
  .joinButton {
    height: 3rem;
    width: 11rem;
  }
  .HowItWorks {
    height: 12rem;
    line-height: 3rem;
  }
  .HowTitle {
    font-size: 26px;
  }
  .works {
    font-size: 21px;
  }
  .iconbar {
    height: 8rem;
  }
  .search {
    font-size: 21px;
  }
  .connect {
    font-size: 21px;
  }
  .gameOn {
    font-size: 21px;
  }
  .explore {
    height: 3.5rem;
    margin-bottom: 2rem;
  }
  .exploreButton {
    height: 3rem;
    width: 11rem;
  }
  .howvideo {
    height: 15rem;
  }
  .howvideotitle {
    font-size: 22px;
    line-height: 5.5rem;
  }
  .video {
    height: 28rem;
    margin-left: 7rem;
    margin-right: 7rem;
  }
  .upcomingEvents {
    margin-bottom: 1rem;
  }
  .eventTitle {
    font-size: 25px;
  }
  .viewAll {
    font-size: 20px;
  }
  .events .item {
    height: 280px;
    min-width: 250px;
    max-width: 250px;
    margin: 5px;
  }
  .friends #friend {
    height: 110px;
    min-width: 110px;
    max-width: 110px;
  }
  .thePerks .perk {
    height: 190px;
    min-width: 350px;
    max-width: 350px;
    font-size: 18px;
  }
  .theWins .instaWin {
    height: 250px;
    min-width: 250px;
    max-width: 250px;
  }
  .theWins .insta1 {
    height: 250px;
    min-width: 250px;
    max-width: 250px;
  }
  .theWins .insta2 {
    height: 250px;
    min-width: 250px;
    max-width: 250px;
  }
}

@media only screen and (min-width: 1224px) {
  .Join {
    height: 15rem;
  }
  .about {
    margin-left: 5.5rem;
    margin-right: 5.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: 25px;
  }
  .joinButton {
    height: 3rem;
    width: 11rem;
  }
  .HowItWorks {
    height: 12rem;
    width: 100%;
    line-height: 3rem;
  }
  .HowTitle {
    font-size: 35px;
  }
  .works {
    font-size: 25px;
  }
  .iconbar {
    height: 8rem;
    width: 100%;
  }
  .search {
    font-size: 25px;
  }
  .connect {
    font-size: 25px;
  }
  .gameOn {
    font-size: 25px;
  }
  .explore {
    height: 5rem;
    width: 100%;
    margin-bottom: 3rem;
  }
  .exploreButton {
    height: 3rem;
    width: 11rem;
    border-radius: 15%;
  }
  .howvideo {
    height: 12rem;
    margin-top: -1rem;
  }
  .howvideotitle {
    font-size: 35px;
    line-height: 10rem;
  }
  .video {
    height: 30rem;
    margin-left: 20rem;
    margin-right: 20rem;
    margin-bottom: 3rem;
  }
  .upcomingEvents {
    margin-bottom: 1.5rem;
  }
  .eventTitle {
    font-size: 25px;
  }
  .viewAll {
    font-size: 20px;
  }
  .perks {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1.5rem;
    margin-left: 15rem;
    margin-right: 15rem;
  }
  .perksTitle {
    font-size: 25px;
  }
  .currentTitle {
    font-size: 25px;
    margin-left: 15rem;
  }
  .events .item {
    height: 280px;
    min-width: 250px;
    max-width: 250px;
    margin: 5px;
  }
  .friends #friend {
    height: 110px;
    min-width: 110px;
    max-width: 110px;
  }
  .thePerks .perk {
    height: 190px;
    min-width: 350px;
    max-width: 350px;
    font-size: 18px;
  }
  .theWins .instaWin {
    height: 220px;
    min-width: 220px;
    max-width: 220px;
  }
  .instaTitle {
    font-size: 25px;
    margin-left: 5rem;
  }
}

@media only screen and (min-width: 1824px) {
  .Join {
    height: 12rem;
  }
  .about {
    margin-left: 5.5rem;
    margin-right: 5.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: 25px;
  }
  .joinButton {
    height: 3rem;
    width: 11rem;
  }
  .HowItWorks {
    height: 12rem;
    width: 100%;
    line-height: 3rem;
  }
  .HowTitle {
    font-size: 35px;
  }
  .works {
    font-size: 25px;
  }
  .iconbar {
    height: 8rem;
    width: 100%;
  }
  .search {
    font-size: 25px;
  }
  .connect {
    font-size: 25px;
  }
  .gameOn {
    font-size: 25px;
  }
  .explore {
    height: 5rem;
    width: 100%;
    margin-bottom: 3rem;
  }
  .exploreButton {
    height: 3rem;
    width: 11rem;
    border-radius: 15%;
  }
  .howvideo {
    height: 12rem;
    margin-top: -1rem;
  }
  .howvideotitle {
    font-size: 35px;
    line-height: 10rem;
  }
  .video {
    height: 30rem;
    margin-left: 20rem;
    margin-right: 20rem;
    margin-bottom: 3rem;
  }
  .upcomingEvents {
    margin-bottom: 1.5rem;
  }
  .eventTitle {
    font-size: 25px;
  }
  .viewAll {
    font-size: 20px;
  }
  .perks {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1.5rem;
    margin-left: 15rem;
    margin-right: 15rem;
  }
  .perksTitle {
    font-size: 25px;
  }
  .currentTitle {
    font-size: 25px;
    margin-left: 15rem;
  }
  .events .item {
    height: 280px;
    min-width: 250px;
    max-width: 250px;
    margin: 5px;
  }
  .friends #friend {
    height: 110px;
    min-width: 110px;
    max-width: 110px;
  }
  .thePerks .perk {
    height: 190px;
    min-width: 350px;
    max-width: 350px;
    font-size: 18px;
  }
  .theWins .instaWin {
    height: 220px;
    min-width: 220px;
    max-width: 220px;
  }
  .instaTitle {
    font-size: 25px;
    margin-left: 5rem;
  }
}
