@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap&family=Montserrat:wght@300;400&display=swap&family=Cabin&display=swap');

.topTitle {
  height: 2.5rem;
  width: 100%;
  display: flex;
  margin-left: 0.75rem;
}
.gameUp {
  font-size: 25px;
  font-family: 'Cabin', sans-serif;
  font-weight: 600;
}
.signInTitle {
  height: 3rem;
  width: 100%;
  display: flex;
  margin-left: 0.75rem;
}
.signIn {
  font-size: 18px;
  font-family: 'Cabin', sans-serif;
}
.loginForm {
  height: 15rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  font-family: 'Montserrat', sans-serif;
}
.email {
  margin-left: -2px;
  margin-bottom: 4px;
  font-size: 15px;
}
.emailBox {
  height: 25px;
  width: 90%;
  border: none;
  box-shadow: inset -2px -2px 4px rgba(255, 255, 255, 0.5),
    inset 2px 2px 4px rgba(170, 170, 204, 0.25);
}
.passwordBox {
  height: 25px;
  width: 90%;
  border: none;
  box-shadow: inset -2px -2px 4px rgba(255, 255, 255, 0.5),
    inset 2px 2px 4px rgba(170, 170, 204, 0.25);
}
.passwords {
  margin-left: -2px;
  margin-bottom: 4px;
  font-size: 15px;
}
.forgotten {
  font-size: 10px;
}
.loginButton {
  margin-top: 1.5rem;
  height: 2rem;
  width: 85%;
  background-color: #ffac4f;
  color: white;
  border-radius: 12px;
  border: none;
  font-size: 15px;
  font-weight: 600;
  margin-left: 1rem;
}
.or {
  height: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  font-family: 'Montserrat', sans-serif;
}
.signinWith {
  display: flex;
  justify-content: center;
  align-items: center;
}
.signinWith .signButton {
  height: 3rem;
  width: 3rem;
  background-color: #ffac4f;
  border-radius: 12px;
  font-size: 10px;
  box-shadow: darkgray;
  margin: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.noAccountTitle {
  height: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: 900;
  margin-left: 0.75rem;
  margin-top: -0.5rem;
}
.signupLink {
  height: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 2rem;
  margin-left: 0.75rem;
}
.signLink {
  font-size: 12px;
}

@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation: portrait) {
  .topTitle {
    height: 3.5rem;
  }
  .signInTitle {
    height: 4rem;
  }
  .loginForm {
    height: 18rem;
  }

  .loginButton {
    height: 2.5rem;
  }
  .or {
    margin-top: 1.5rem;
  }
  .signinWith {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .signinWith .signButton {
    height: 3.5rem;
    width: 3.5rem;
  }
  .noAccountTitle {
    font-size: 15px;
  }
  .signupLink {
    margin-bottom: 4rem;
  }
  .signLink {
    font-size: 13px;
  }
  .emailBox {
    height: 30px;
  }
  .passwordBox {
    height: 30px;
  }
  .passwords {
    margin-left: -2px;
    margin-bottom: 4px;
    font-size: 20px;
  }
  .forgotten {
    font-size: 13px;
  }
  .email {
    margin-left: -2px;
    margin-bottom: 4px;
    font-size: 20px;
  }
}

@media only screen and (min-device-width: 390px) and (max-device-height: 844px) and (orientation: portrait) {
  .topTitle {
    height: 3.5rem;
  }
  .signInTitle {
    height: 4rem;
  }
  .loginForm {
    height: 18rem;
  }

  .loginButton {
    height: 2.5rem;
  }
  .or {
    margin-top: 1.5rem;
  }
  .signinWith {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .signinWith .signButton {
    height: 3.5rem;
    width: 3.5rem;
  }
  .noAccountTitle {
    font-size: 15px;
  }
  .signupLink {
    margin-bottom: 4rem;
  }
  .signLink {
    font-size: 13px;
  }
  .emailBox {
    height: 30px;
  }
  .passwordBox {
    height: 30px;
  }
  .passwords {
    margin-left: -2px;
    margin-bottom: 4px;
    font-size: 20px;
  }
  .forgotten {
    font-size: 13px;
  }
  .email {
    margin-left: -2px;
    margin-bottom: 4px;
    font-size: 20px;
  }
}

@media only screen and (min-device-width: 428px) and (max-device-height: 926px) and (orientation: portrait) {
  .topTitle {
    height: 3.5rem;
  }
  .signInTitle {
    height: 4rem;
  }
  .loginForm {
    height: 18rem;
  }

  .loginButton {
    height: 2.5rem;
  }
  .or {
    margin-top: 1.5rem;
  }
  .signinWith {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .signinWith .signButton {
    height: 3.5rem;
    width: 3.5rem;
  }
  .noAccountTitle {
    font-size: 15px;
  }
  .signupLink {
    margin-bottom: 4rem;
  }
  .signLink {
    font-size: 13px;
  }
  .emailBox {
    height: 30px;
  }
  .passwordBox {
    height: 30px;
  }
  .passwords {
    margin-left: -2px;
    margin-bottom: 4px;
    font-size: 20px;
  }
  .forgotten {
    font-size: 13px;
  }
  .email {
    margin-left: -2px;
    margin-bottom: 4px;
    font-size: 20px;
  }
}

@media only screen and (device-width: 375px) and (device-height: 812px) and (orientation: portrait) {
  .topTitle {
    height: 3.5rem;
  }
  .signInTitle {
    height: 4rem;
  }
  .loginForm {
    height: 18rem;
  }

  .loginButton {
    height: 2.5rem;
  }
  .or {
    margin-top: 1.5rem;
  }
  .signinWith {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .signinWith .signButton {
    height: 3.5rem;
    width: 3.5rem;
  }
  .noAccountTitle {
    font-size: 15px;
  }
  .signupLink {
    margin-bottom: 7rem;
  }
  .signLink {
    font-size: 13px;
  }
  .emailBox {
    height: 30px;
  }
  .passwordBox {
    height: 30px;
  }
  .passwords {
    margin-left: -2px;
    margin-bottom: 4px;
    font-size: 20px;
  }
  .forgotten {
    font-size: 13px;
  }
  .email {
    margin-left: -2px;
    margin-bottom: 4px;
    font-size: 20px;
  }
}
@media only screen and (min-device-width: 412px) and (max-device-width: 767px) and (orientation: portrait) {
  .topTitle {
    height: 3.5rem;
  }
  .signInTitle {
    height: 4rem;
  }
  .loginForm {
    height: 18rem;
  }

  .loginButton {
    height: 2.5rem;
  }
  .or {
    margin-top: 1.5rem;
  }
  .signinWith {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .signinWith .signButton {
    height: 3.5rem;
    width: 3.5rem;
  }
  .noAccountTitle {
    font-size: 15px;
  }
  .signupLink {
    margin-bottom: 4rem;
  }
  .signLink {
    font-size: 13px;
  }
  .emailBox {
    height: 30px;
  }
  .passwordBox {
    height: 30px;
  }
  .passwords {
    margin-left: -2px;
    margin-bottom: 4px;
    font-size: 20px;
  }
  .forgotten {
    font-size: 13px;
  }
  .email {
    margin-left: -2px;
    margin-bottom: 4px;
    font-size: 20px;
  }
}
