@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

.menuHeader {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  margin-left: 1rem;
  margin-right: 2rem;
  margin-top: 1.5rem;
}
.menuTitle {
  font-family: 'Cabin', sans-serif;
  color: rgba(5, 95, 158, 1);
  margin-left: 1.5rem;
  font-size: 25px;
  font-weight: 500;
}
.backButton {
  border: none;
  background-color: white;
}
.searchBar {
  font-family: 'Cabin', sans-serif;
  display: flex;
  justify-content: center;
}
.searchMenu {
  font-family: 'Cabin', sans-serif;
  height: 25px;
  width: 80%;
  border: none;
  height: 25px;
  width: 90%;
  box-shadow: inset -2px -2px 4px rgba(255, 255, 255, 0.5),
    inset 2px 2px 4px rgba(170, 170, 204, 0.25);
  margin-bottom: 15px;
}

.line1 {
  display: flex;
  font-size: 25px;
  font-weight: 500;
}
.line2 {
  display: flex;
  font-size: 25px;
  font-weight: 500;
}
.line3 {
  display: flex;
  font-size: 25px;
  font-weight: 500;
}
.menuProfile {
  font-family: 'Cabin', sans-serif;
  color: rgba(5, 95, 158, 1);
  text-decoration: none;
  border-top: 1px solid rgba(141, 146, 64, 0.75);
  border-bottom: 1px solid rgba(141, 146, 64, 0.75);
  border-right: 1px solid rgba(141, 146, 64, 0.75);
  width: 50%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menuAbout {
  font-family: 'Cabin', sans-serif;
  color: rgba(5, 95, 158, 1);
  text-decoration: none;
  border-top: 1px solid rgba(141, 146, 64, 0.75);
  border-bottom: 1px solid rgba(141, 146, 64, 0.75);
  width: 50%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menuChat {
  font-family: 'Cabin', sans-serif;
  color: rgba(5, 95, 158, 1);
  text-decoration: none;
  border-bottom: 1px solid rgba(141, 146, 64, 0.75);
  border-right: 1px solid rgba(141, 146, 64, 0.75);
  width: 50%;
  height: 195px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menuEvent {
  font-family: 'Cabin', sans-serif;
  color: rgba(5, 95, 158, 1);
  text-decoration: none;
  border-bottom: 1px solid rgba(141, 146, 64, 0.75);
  width: 50%;
  height: 195px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.MenuPolicy {
  font-family: 'Cabin', sans-serif;
  color: rgba(5, 95, 158, 1);
  text-decoration: none;
  border-right: 1px solid rgba(141, 146, 64, 0.75);
  width: 50%;
  height: 195px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.menuVa {
  font-family: 'Cabin', sans-serif;
  color: rgba(5, 95, 158, 1);
  text-decoration: none;
  width: 50%;
  height: 195px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.searchMenu {
  font-size: 20px;
}
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) {
  .menuTitle {
    font-size: 35px;
  }
  .menuProfile {
    height: 70px;
  }
  .menuAbout {
    height: 70px;
  }
  .menuChat {
    height: 250px;
  }
  .menuEvent {
    height: 250px;
  }
  .MenuPolicy {
    height: 250px;
  }
  .menuVa {
    height: 250px;
  }
}

@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation: portrait) {
  .menuTitle {
    font-size: 35px;
  }
  .menuProfile {
    height: 90px;
  }
  .menuAbout {
    height: 90px;
  }
  .menuChat {
    height: 275px;
  }
  .menuEvent {
    height: 275px;
  }
  .MenuPolicy {
    height: 275px;
  }
  .menuVa {
    height: 275px;
  }
}

@media only screen and (min-device-width: 390px) and (max-device-height: 844px) and (orientation: portrait) {
  .menuTitle {
    font-size: 35px;
  }
  .menuProfile {
    height: 95px;
  }
  .menuAbout {
    height: 95px;
  }
  .menuChat {
    height: 280px;
  }
  .menuEvent {
    height: 280px;
  }
  .MenuPolicy {
    height: 280px;
  }
  .menuVa {
    height: 280px;
  }
}
@media only screen and (min-device-width: 428px) and (max-device-height: 926px) and (orientation: portrait) {
  .menuTitle {
    font-size: 35px;
  }
  .menuProfile {
    height: 80px;
  }
  .menuAbout {
    height: 80px;
  }
  .menuChat {
    height: 260px;
  }
  .menuEvent {
    height: 260px;
  }
  .MenuPolicy {
    height: 260px;
  }
  .menuVa {
    height: 260px;
  }
}
@media only screen and (device-width: 375px) and (device-height: 812px) and (orientation: portrait) {
  .menuTitle {
    font-size: 35px;
  }
  .menuProfile {
    height: 95px;
  }
  .menuAbout {
    height: 95px;
  }
  .menuChat {
    height: 280px;
  }
  .menuEvent {
    height: 280px;
  }
  .MenuPolicy {
    height: 280px;
  }
  .menuVa {
    height: 280px;
  }
}
@media only screen and (min-device-width: 412px) and (max-device-width: 869px) and (orientation: portrait) {
  .menuTitle {
    font-size: 35px;
  }
  .menuProfile {
    height: 100px;
  }
  .menuAbout {
    height: 100px;
  }
  .menuChat {
    height: 300px;
  }
  .menuEvent {
    height: 300px;
  }
  .MenuPolicy {
    height: 300px;
  }
  .menuVa {
    height: 300px;
  }
}
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) {
  .menuTitle {
    font-size: 25px;
  }
  .menuProfile {
    height: 70px;
  }
  .menuAbout {
    height: 70px;
  }
  .menuChat {
    height: 230px;
  }
  .menuEvent {
    height: 230px;
  }
  .MenuPolicy {
    height: 230px;
  }
  .menuVa {
    height: 230px;
  }
}
