@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.name {
  font-family: 'Unica One', cursive;
  font-size: 2.65rem;
  color: rgba(5, 95, 158, 1);
  text-decoration: none;
}
.profile {
  border: none;
  background-color: white;
}
/* iPhone 12 (portrait) ----------- */
@media only screen and (min-device-width: 390px) and (max-device-height: 844px) and (orientation: portrait) {
  .navbar {
    margin-left: 1.75rem;
    margin-right: 1.75rem;
  }
}

/* iPhone 12 mini (portrait) ----------- */
@media only screen and (device-width: 375px) and (device-height: 812px) and (orientation: portrait) {
  .navbar {
    margin-left: 1.75rem;
    margin-right: 1.75rem;
  }
}

/* Samsung Galaxy S3 (portrait) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) {
  */ .navbar {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
/* Samsung Galaxy S5 (portrait) ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) {
  .navbar {
    margin-left: 1.75rem;
    margin-right: 1.75rem;
  }
}

/* Samsung Galaxy note 20 ------------ */
@media only screen and (min-device-width: 412px) and (max-device-width: 767px) and (orientation: portrait) {
  .navbar {
    margin-left: 1.75rem;
    margin-right: 1.75rem;
  }

  .name {
    font-size: 3rem;
  }
}
/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .navbar {
    margin-left: 5rem;
    margin-right: 5rem;
  }

  .name {
    font-size: 5rem;
  }
}
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  .navbar {
    margin-left: 6rem;
    margin-right: 6rem;
  }
  .name {
    font-size: 5rem;
  }
}
/* Large screens -----------  */
@media only screen and (min-width: 2000px) {
  .navbar {
    margin-left: 7rem;
    margin-right: 7rem;
  }

  .name {
    font-size: 7rem;
  }
}
