@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
.pic {
  height: 10rem;
  width: 100%;
  background-color: grey;
  display: flex;
  justify-content: center;
  margin-top: -1rem;
}
.saved {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 6rem;
  left: 1.5rem;
  font-family: 'Cabin', sans-serif;
}
.profilePic {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  border: 1px black solid;
  text-align: center;
  display: flex;
  align-items: center;
  font-family: 'Cabin', sans-serif;
}
.named {
  font-family: 'Cabin', sans-serif;
  height: 9rem;
  width: 100%;
  display: flex;
  line-height: 0%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  background-color: lightgray;
}
.usersName {
  font-weight: 1000;
  font-size: 25px;
}
.editProfile {
  font-size: 12px;
  font-family: 'Cabin', sans-serif;
  line-height: 1.75rem;
}
.favGames {
  margin-left: 1rem;
  font-family: 'Cabin', sans-serif;
}
/* iPhone 6 7 8 (portrait) ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) {
  .favGames {
    height: 9rem;
  }
}

/* iPhone 6 7 8+ (portrait) ----------- */
@media only screen and (device-width: 414px) and (max-device-height: 736px) and (orientation: portrait) {
  .favGames {
    height: 9rem;
  }
  .named {
    height: 11rem;
  }
  .pic {
    height: 12rem;
  }
  .profilePic {
    height: 9rem;
    width: 9rem;
  }
}

/* iPhone 11 (portrait) ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation: portrait) {
  .favGames {
    height: 19rem;
  }
  .named {
    height: 11rem;
  }
  .pic {
    height: 12rem;
  }
  .profilePic {
    height: 9rem;
    width: 9rem;
  }
}

/* iPhone pro 11 (portrait) ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation: portrait) {
  .favGames {
    height: 14rem;
  }
  .named {
    height: 11rem;
  }
  .pic {
    height: 12rem;
  }
  .profilePic {
    height: 9rem;
    width: 9rem;
  }
}
/* iPhone 12 (portrait) ----------- */
@media only screen and (min-device-width: 390px) and (max-device-height: 844px) and (orientation: portrait) {
  .favGames {
    height: 16rem;
  }
  .named {
    height: 11rem;
  }
  .pic {
    height: 12rem;
  }
  .profilePic {
    height: 9rem;
    width: 9rem;
  }
}
/* iPhone 12 pro max (portrait) ----------- */
@media only screen and (min-device-width: 428px) and (max-device-height: 926px) and (orientation: portrait) {
  .favGames {
    height: 21rem;
  }
  .named {
    height: 11rem;
  }
  .pic {
    height: 12rem;
  }
  .profilePic {
    height: 9rem;
    width: 9rem;
  }
}
/* iPhone 12 mini (portrait) ----------- */
@media only screen and (device-width: 375px) and (device-height: 812px) and (orientation: portrait) {
  .favGames {
    height: 15rem;
  }
  .named {
    height: 11rem;
  }
  .pic {
    height: 12rem;
  }
  .profilePic {
    height: 9rem;
    width: 9rem;
  }
}
/* Samsung Galaxy S4 (portrait) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) {
  .favGames {
    height: 8rem;
  }
}
/* Samsung Galaxy note 20 ------------*/
@media only screen and (min-device-width: 412px) and (max-device-width: 767px) and (orientation: portrait) {
  .favGames {
    height: 11rem;
  }
}
/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
}
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  .favGames {
    height: 15rem;
  }
  .named {
    height: 11rem;
  }
  .pic {
    height: 12rem;
  }
  .profilePic {
    height: 9rem;
    width: 9rem;
  }
}
/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
}
