@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
.pic {
  height: 10rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -1rem;
}
.proPic {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  border: 2px rgba(141, 146, 64, 0.75) solid;
  text-align: center;
  display: flex;
  align-items: center;
  font-family: 'Cabin', sans-serif;
}
.namedPlayer {
  font-family: 'Cabin', sans-serif;
  height: 9rem;
  width: 100%;
  line-height: 0px;
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}
.userName {
  margin-top: 10px;
}
.dutyStatus {
  margin-top: 10px;
}
.editProfile {
  font-size: 12px;
  font-family: 'Cabin', sans-serif;
  line-height: 1.75rem;
}
.favGames {
  margin-left: 1rem;
  font-family: 'Cabin', sans-serif;
  color: rgba(5, 95, 158, 1);
}
.proForm {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.fileInput label {
  background: rgba(141, 146, 64, 0.75);
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Rubik', sans-serif;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 1rem;
  outline: none;
  height: 20px;
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
  transition: all 0.3s;
  vertical-align: middle;
}
.fileInput :hover {
  background-color: darken(#f15d22, 10%);
}
.file {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.saveButton {
  background: rgba(141, 146, 64, 0.75);
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Rubik', sans-serif;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 1rem;
  outline: none;
  height: 20px;
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
  transition: all 0.3s;
  vertical-align: middle;
}
.trash {
  width: 100%;
  display: flex;
  justify-content: center;
}
.deleteAcc {
  background: rgba(141, 146, 64, 0.75);
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Rubik', sans-serif;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 1rem;
  outline: none;
  height: 20px;
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
  transition: all 0.3s;
  vertical-align: middle;
}
.nameEdit {
  display: flex;
  justify-content: space-between;
  margin-right: 2rem;
  align-items: baseline;
}
.messageButton {
  background-color: rgba(5, 95, 158, 1);
  height: 30px;
  width: 100px;
  border: none;
  border-radius: 15px;
  font-family: 'Cabin', sans-serif;
  font-size: 15px;
  color: white;
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) {
  .favGames {
    height: 9rem;
  }
}

@media only screen and (device-width: 414px) and (max-device-height: 736px) and (orientation: portrait) {
  .favGames {
    height: 9rem;
  }
  .named {
    height: 11rem;
  }
  .pic {
    height: 12rem;
  }
  .profilePic {
    height: 9rem;
    width: 9rem;
  }
}

@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation: portrait) {
  .favGames {
    height: 19rem;
  }
  .named {
    height: 11rem;
  }
  .pic {
    height: 12rem;
  }
  .profilePic {
    height: 9rem;
    width: 9rem;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation: portrait) {
  .favGames {
    height: 14rem;
  }
  .named {
    height: 11rem;
  }
  .pic {
    height: 12rem;
  }
  .profilePic {
    height: 9rem;
    width: 9rem;
  }
}

@media only screen and (min-device-width: 390px) and (max-device-height: 844px) and (orientation: portrait) {
  .favGames {
    height: 16rem;
  }
  .named {
    height: 11rem;
  }
  .pic {
    height: 12rem;
  }
  .profilePic {
    height: 9rem;
    width: 9rem;
  }
}

@media only screen and (min-device-width: 428px) and (max-device-height: 926px) and (orientation: portrait) {
  .favGames {
    height: 21rem;
  }
  .named {
    height: 11rem;
  }
  .pic {
    height: 12rem;
  }
  .profilePic {
    height: 9rem;
    width: 9rem;
  }
}

@media only screen and (device-width: 375px) and (device-height: 812px) and (orientation: portrait) {
  .favGames {
    height: 15rem;
  }
  .named {
    height: 11rem;
  }
  .pic {
    height: 12rem;
  }
  .profilePic {
    height: 9rem;
    width: 9rem;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) {
  .favGames {
    height: 8rem;
  }
}

@media only screen and (min-device-width: 412px) and (max-device-width: 767px) and (orientation: portrait) {
  .favGames {
    height: 11rem;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
}

@media only screen and (min-width: 1224px) {
  .favGames {
    height: 15rem;
  }
  .named {
    height: 11rem;
  }
  .pic {
    height: 12rem;
  }
  .profilePic {
    height: 9rem;
    width: 9rem;
  }
}
